.NoteEditorHeaderInput {
  background-color: var(--app-background-5-lighter-color);
  color: var(--app-text-base-color);
  border: none;
  flex: 1;
  padding-left: 15px;
  font-size: 18px;
  outline: none;
  font-family: "Roboto", "Lato";
}

.NoteEditorHeaderInput:focus {
  outline: none;
}
