.Radio {
    box-sizing: border-box;

    position: relative;

    display: inline-block;

    vertical-align: middle;

    width: 20px;

    height: 20px;

    border-radius: 50%;

    background-color: #f8f9fb;

    border: 1px solid #e4e4e4;

    cursor: pointer;
}

.Radio:hover {
    background-color: #f4f4f4;
}

.Radio:focus {
    outline: 2px solid #5149b8;

    outline-offset: -1px;
}

.Radio[aria-checked="true"]::after {
    box-sizing: border-box;
    
    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    border: 5px solid #7e6ee6;

    border-radius: 50%;
}