.NoteGroup {
  display: block;

  position: relative;

  width: 250px;
  height: 250px;
}

.NoteGroup:first-child:not(:last-child) {
  margin-right: 10px;
}

.NoteGroup:last-child:not(:first-child) {
  margin-left: 10px;
}

.NoteGroup:not(:first-child):not(:last-child) {
  margin: 0 10px;
}

.NoteGroupFront {
  position: absolute;
  top: 4.5%;
  left: 4.5%;

  width: 90%;
  height: 90%;
  z-index: 2;

  background-color: var(--app-editor-background-ligher-color);
}

.NoteGroupBack {
  position: absolute;
  top: 7%;
  left: 7%;

  width: 85%;
  height: 85%;

  z-index: 1;

  background-color: var(--app-editor-background-darker-color);

  transform: rotate(10deg);
}

.NoteGroupTitle {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: 0;

  font-size: 1.1rem;

  color: var(--app-editor-text-lighter-color);
}
