.Button {
  box-sizing: border-box;

  position: relative;

  cursor: pointer;

  background-color: #f8f9fb;

  border: 1px solid #e4e4e4;

  border-radius: 0;

  display: flex;

  align-items: center;

  justify-content: center;
}

.Button:hover {
  background-color: #f4f4f4;
}

.Button[aria-pressed="true"] {
  background-color: #7e6ee6;

  border-color: #7e6ee6;

  color: #fff;

  fill: currentColor;
}

.Button:focus {
  outline: 2px solid #5149b8;

  outline-offset: -1px;

  z-index: 2;
}