.AsideButton {
  display: block;

  width: 300px;

  text-align: left;

  border: 0;

  padding: 10px 15px 10px 30px;

  font-size: 1rem;

  background-color: var(--background-base-color);

  color: var(--text-base-color);

  outline: 0;

  cursor: pointer;

  overflow: hidden;
}

.AsideButton:hover,
.AsideButton:focus {
  color: var(--text-lighter-color);
}

.AsideButton > * {
  display: inline-block;

  vertical-align: middle;
}

.AsideButton > svg:first-child {
  margin-right: 15px;
}
