.BreadcrumbWrapper {
  flex: 1;

  padding: 5px 10px;

  background: var(--background-base-color);

  overflow: hidden;
}

.BreadcrumbElement:hover {
  color: var(--text-lighter-color);
}

.BreadcrumbElement:last-child {
  color: var(--text-lighter-color);
}
