.BackButton {
  box-sizing: border-box;

  width: 26px;

  height: 26px;

  padding: 0;

  cursor: pointer;

  text-align: center;
}

.BackButton > svg {
  display: inline-block;

  vertical-align: middle;

  width: 14px;

  height: 14px;
}
