.LabeledSwitch {
    box-sizing: border-box;

    position: relative;

    display: flex;

    align-items: center;
}

.LabeledSwitch > .SwitchLabel {
    margin-left: 10px;
}

.LabeledSwitch > .SwitchLabel[dir="rtl"] {
    margin-left: 0;

    margin-right: 10px;
}