.AppHeaderButton {
  /* Reset */
  appearance: none;
  border: 0;
  cursor: pointer;
  outline: 0;

  /* Dimensions */
  width: 40px;
  height: 40px;

  /* Content */
  font-size: 24px; /* @todo Switch to REM. */
  line-height: 1.4rem;

  /* Colors */
  background-color: var(--background-base-color);
  color: var(--text-base-color);

  /* Border */
  border-radius: 4px;
}

.AppHeaderButton:hover,
.AppHeaderButton:focus {
  color: var(--text-lighter-color);
}

.AppHeaderButton:disabled {
  color: var(--text-darker-color);
}
