.CreateDirectoryOverlay {
  width: 400px;
}

.CreateDirectoryOverlay .FormInput {
  background-color: var(--background-darker-color);
  color: var(--app-text-color);
}

.CreateDirectoryOverlay .OverlayFooter button {
  appearance: none;

  color: var(--app-text-base-color);
  background-color: var(--app-background-base-color);

  cursor: pointer;

  outline: 0;

  border: 0;

  text-transform: uppercase;

  padding: 0;

  margin-top: 10px;
  margin-bottom: 10px;
}

.CreateDirectoryOverlay .OverlayFooter button:focus {
  outline: 1px dotted var(--app-text-base-color);
}

.CreateDirectoryOverlay .OverlayFooter button:first-child {
  margin-right: 15px;
}
