.Aside {
  display: flex;
  flex-direction: column;

  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  padding-top: 20px;

  background-color: var(--background-base-color);
}

.Aside .Wrapper {
  padding: 10px 0;
}

.Aside .Summary {
  outline: 0;

  cursor: pointer;

  width: 300px;

  padding: 10px 15px;
}

.Aside .Summary h4 {
  display: block;

  position: relative;

  white-space: pre;
}

.Aside .Summary h4 > * {
  display: inline-block;

  vertical-align: middle;
}

.Aside .Summary h4 > svg:first-child {
  margin-right: 15px;
}

.Aside .Summary h4 > svg:last-child {
  position: absolute;

  right: 0;
}
