.SimpleAccordion {
    max-width: 450px;
}

.SimpleAccordion .AccordionHeader {
    font-size: 1.1rem;

    display: flex;
}

.SimpleAccordion .AccordionHeader > strong {
    flex: 1;
}

.SimpleAccordion .AccordionHeader > .Icon {
    align-self: center;
}

.SimpleAccordion .AccordionHeader[aria-expanded="true"] {
    border-bottom-color: transparent;
}

.SimpleAccordion .Highlight {
    background-color: rgb(234, 191, 49);

    color: #333;

    padding: 12px;
}