.Progress {
    box-sizing: border-box;

    position: relative;

    width: 100%;

    min-height: 1px;

    height: 20px;
}

.ProgressBar {
    box-sizing: border-box;

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    background-color: #eee;
}

.ProgressLabel {
    box-sizing: border-box;

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    left: 5px;

    font-size: 1em;
}