.Day {
    box-sizing: border-box;

    position: relative;

    background-color: #f8f9fb;

    border: 1px solid #e4e4e4;

    padding: 10px 0;

    outline: 0;

    color: #333;
}

.Day.focused {
    border-color: #8882f9;

    color: #333;
}

.Day.focused:focus {
    outline: 2px solid #8882f9;

    outline-offset: 1px;

    z-index: 1;
}

.Day[aria-hidden="true"] {
    /* background-color: #efefef; */

    color: #cbcbcb;
}

.Day[aria-current="date"] {
    background-color: #3a33d1;

    color: #fff;
}