.PasswordInput {
    box-sizing: border-box;

    appearance: none;

    position: relative;

    display: flex;

    align-items: center;
}

.PasswordInput > input {
    height: 17px;

    border: 1px solid #333;

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

    outline: 0;

    border-right: 0;
}

.PasswordInput .EyeButton {
    border: 1px solid #333;

    border-top-left-radius: 0;

    border-bottom-left-radius: 0;

    outline: 0;

    border-left: 0;

    background-color: #fff;
}

.PasswordInput .EyeButton[data-active="false"] > svg {
    fill: red;
}

