.ConfirmationCodeInput {
    box-sizing: border-box;

    position: relative;

    display: block;

    width: 100%;

    padding: 5px 10px;

    border-radius: 0;

    background-color: #f8f9fb;

    border: 1px solid #e4e4e4;
}

.ConfirmationCodeInput:focus {
    outline: 2px solid #a06b9a;
}