.SavedContentBubble {
  padding: 0 10px;
}

.SavedContentBubble span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--app-danger-color);
  cursor: help;
}

.SavedContentBubble span.saved {
  background-color: var(--app-success-color);
}
