.AccordionHeader {
    box-sizing: border-box;

    position: relative;

    width: 100%;

    padding: 5px 10px;

    background-color: #f8f9fb;

    border: 1px solid #e4e4e4;

    text-align: left;

    cursor: pointer;
}

.AccordionHeader:focus {
    outline: 2px solid #a06b9a;
}