.Navigator {
  position: relative;

  display: flex;
  align-items: center;

  height: 40px;

  background: var(--background-lighter-color);

  padding: 0 15px;
}

.Navigator .Button {
  font-size: 1.4rem;
  line-height: 0;

  color: var(--text-base-color);
}

.Navigator .Button:hover,
.Navigator .Button:focus {
  color: var(--text-lighter-color);
}

.Navigator .Button:disabled {
  color: var(--text-darker-color);
}

.Navigator .Button:not(:last-child) {
  margin-right: 15px;
}

.Navigator .Button:last-child {
  margin-left: 15px;
}
