.OverlayHeader {
  position: relative;

  display: flex;
  align-items: center;

  background: var(--app-background-5-lighter-color);

  padding: 5px 10px;
}

.OverlayHeaderTitle {
  display: flex;
  flex: 1;

  font-size: 1rem;

  padding-right: 30px;
}
