.VTRow .VTCellContent {
  overflow: visible;
}

.VTCell span,
.VTCell .GroupTitle {
  padding: 0 5px;
  font-size: 1rem;
  white-space: nowrap;
}

.VTCell .GroupTitle {
  display: flex;
  align-items: center;
}

.VTCell .GroupTitle svg {
  margin-right: 5px;
}
