.VTHeader {
  background-color: var(--app-background-base-color);
  border-bottom: 0;
}

.VTHeaderCell {
  border-right: 1px solid var(--app-text-base-color);
}

.VTColumnResizer {
  background-color: var(--app-text-base-color);
}

.VTRow {
  background-color: var(--app-background-base-color);
}

/* .VTRowOdd {
  background-color: var(--app-background-5-lighter-color);
}

.VTRowEven {
  background-color: var(--app-background-base-color);
} */

.VTRowOdd:hover,
.VTRowEven:hover {
  background-color: #0b1a2e;
}

.VTRow.selected {
  background-color: var(--app-background-15-lighter-color);
}

.VTCell {
  border-right: 0;
  border-bottom: 0;
}

.VTCell {
  overflow: hidden;
}

.NotesWrapper {
  flex: 1;

  margin-left: 15px;
}

.VTList {
  overflow: auto !important;
}
