.ThreeStateCheckbox {
    padding-top: 10px;
}

.ThreeStateCheckbox > .Row {
    box-sizing: border-box;

    position: relative;

    display: flex;

    align-items: center;

    margin-bottom: 15px;
}

.ThreeStateCheckbox > .Row > .Checkbox {
    margin-right: 10px;
}

.ThreeStateCheckbox > .Row:not(:first-child) {
    padding-left: 25px;
}