.Editor {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: calc(100% - 80px);
}

.EditorBar__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.DraftEditor__wrapper {
  font-family: "Roboto", "Lato";
  font-size: 18px;
  overflow: scroll;
}

.DraftEditor__wrapper::-webkit-scrollbar {
  display: none;
}
