.NotesWrapper {
  flex: 1;

  overflow-y: auto;
}

.Notes {
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 250px));
  grid-column-gap: 23px;
  grid-row-gap: 40px;

  padding: 0 15px;
}

.NotesRow {
  display: flex;
  flex: 1;

  margin-bottom: 15px;
}
