.NotesWrapper {
  flex: 1;

  overflow-y: auto;

  padding-top: 40px;
}

.Notes {
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 250px));
  grid-column-gap: 23px;
  grid-row-gap: 40px;

  padding: 0 15px;
}

.NotesRow {
  display: flex;
  flex: 1;

  margin-bottom: 15px;
}

.EmptyNotesHeading {
  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 1.5rem;

  text-align: center;

  color: var(--app-text-40-darker-color);
}

.EmptyNotesHeading svg {
  margin-left: 5px;
}
