.EditorBarButton {
  background-color: var(--note-editor-theme-background-color);
  color: var(--note-editor-theme-text-color);
  border: none;
  outline: none;
  font-size: 20px;
  padding: 5px 5px 2px;
  border-radius: 4px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px dotted transparent;
}

.EditorBarButton:focus {
  border-color: var(--note-editor-theme-text-color);
}

.EditorBarButton[data-active="true"] {
  background-color: var(--app-background-5-lighter-color);
  color: var(--app-text-base-color);
}
