.SettingsDrawerFooter {
  display: flex;
  height: 40px;
  margin: 10px 0;
  padding: 0 15px;
}

.SettingsDrawerFooter__button {
  font-family: Roboto, Lato;
  flex: 1;
  appearance: none;
  border: none;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.SettingsDrawerFooter__button:hover,
.SettingsDrawerFooter__button:focus {
  opacity: 0.9;
}

.SettingsDrawerFooter__button.apply {
  background-color: var(--app-success-color);
  color: var(--app-text-base-color);
}

.SettingsDrawerFooter__button.reset {
  background-color: var(--app-danger-color);
  color: var(--app-text-base-color);
}

.SettingsDrawerFooter__button:not(:first-child) {
  margin-left: 5px;
}

.SettingsDrawerFooter__button:first-child {
  margin-right: 5px;
}

.SettingsDrawerFooter__button:not(:last-child) {
  margin-right: 5px;
}

.SettingsDrawerFooter__button:last-child {
  margin-left: 5px;
}
