.Day {
    box-sizing: border-box;

    position: relative;

    padding: 2px;
}

.Day > button {
    width: 100%;

    height: 100%;

    background-color: #fff;

    border: 1px solid #fff;

    color: #333;

    font-weight: bold;

    padding: 4px;

    outline: 0;
}

.Day > button[aria-hidden="true"] {
    font-weight: normal;
}

.Day > button[tabIndex="0"] {
    outline: 1px solid #8882f9;

    z-index: 1;
}

.Day > button[tabIndex="0"]:focus {
    outline-width: 3px;
}

.Day[aria-selected="true"] > button {
    background-color: #3a33d1;

    color: #fff;
}