.Note {
  display: block;

  position: relative;

  width: 250px;
  height: 250px;
}

.NoteCard {
  width: 100%;
  height: 100%;

  background-color: var(--app-editor-background-darker-color);
}

.Note:first-child:not(:last-child) {
  margin-right: 10px;
}

.Note:last-child:not(:first-child) {
  margin-left: 10px;
}

.Note:not(:first-child):not(:last-child) {
  margin: 0 10px;
}

.NoteCardTitle {
  margin: 0;
  color: var(--app-editor-text-lighter-color);
  font-size: 24px;
  padding: 5px 10px;
}
