:root {
  /* --note-editor-theme-background-color: #ffdb70; */
  --note-editor-theme-background-color: #ffdb70;
  --note-editor-theme-text-color: #212121;
}

.NoteEditor__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.NoteEditor__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.NodeEditorCanvas {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc((100vh - 70%) / 2);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 320px;
  max-width: 700px;
  height: 70%;
  background-color: var(--note-editor-theme-background-color);
  color: var(--note-editor-theme-text-color);
}

.NodeEditorCanvas.maximized {
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  transform: none;
}

.NoteEditorCanvas__wrapper {
  height: 100%;
}
