.FolderTabs {
  display: flex;

  position: relative;

  align-items: center;

  height: 40px;

  width: calc(100% - 15px);

  background-color: var(--background-base-color);

  padding-right: 15px;
}

.FolderTabs > .Button:last-child {
  position: absolute;

  top: 0;
  left: calc(100% - 45px);

  width: 60px;
  height: 40px;

  background-color: var(--background-base-color);

  z-index: 2;

  color: var(--text-base-color);

  font-size: 1.4rem;
  line-height: 0;
}

.FolderTabs > .Button:last-child:hover {
  color: var(--text-lighter-color);
}

/* Create new tab button */
/* 
.FolderTabs > .Button:last-child {
  position: absolute;

  left: 100%;

  width: 40px;
  height: 40px;

  background-color: var(--background-base-color);

  z-index: 2;
}

.FolderTabs .Button:hover,
.FolderTabs .Button:focus {
  background-color: var(--background-lighter-color);
}

.FolderTabs .Button.active {
  background-color: var(--background-darker-color);

  color: var(--text-lighter-color);
}

.FolderTabs .Button:not(:last-child) {
  width: 120px;
}

.FolderTabs .Button {
  display: block;

  width: 100%;
  height: 100%;

  align-items: center;

  color: var(--text-base-color);

  font-size: 1rem;
  line-height: 1px;

  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0 10px;
}

.FolderTabs .Button svg {
  font-size: 1rem;
} */
