.NoteEditorHeaderButton {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: var(--app-background-5-lighter-color);
  color: var(--app-text-base-color);
  padding-top: 4px;
  margin-left: 2px;
}

.NoteEditorHeaderButton .icon {
  width: 22px;
  height: 22px;
}

.NoteEditorHeaderButton:focus,
.NoteEditorHeaderButton:hover {
  background-color: var(--app-background-10-lighter-color);
}
