.Option {
  box-sizing: border-box;

  position: relative;

  padding: 5px;
}

.Option:hover,
.Option:focus {
  background-color: #cfcfcf;
}

.Option[aria-selected="true"] {
  border: 1px solid #212121;
}
