.AppHeader {
  position: relative;

  display: flex;
  align-items: center;

  height: 50px;

  padding-left: 15px;
  padding-right: 15px;

  background-color: var(--background-base-color);
}

.AppHeader__title {
  flex: 1;

  margin: 0;

  font-size: 1.4rem;

  color: var(--text-lighter-color);
}
