.AppHeader {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--background-base-color);
}

.AppHeader__title {
  font-family: "Roboto", "Lato";
  margin: 0;
  font-size: 1.6rem;
  flex: 1;
  color: var(--text-lighter-color);
}
