.SettingsDrawer {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 15px;
  min-width: 400px;
  height: 100vh;
  background-color: var(--app-background-5-lighter-color);
}

.SettingsDrawer__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
