.SettingsDrawer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 350px;
  height: 100vh;
  background-color: var(--app-background-5-lighter-color);
}

.SettingsDrawer__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
