.Toggle {
    box-sizing: border-box;

    position: relative;

    display: inline-block;

    /** */
    width: 40px;

    height: 26px;

    cursor: pointer;

    outline: 0;
}

.Toggle > input {
    box-sizing: border-box;
    
    appearance: none;

    display: none;
}

.Toggle > .ToggleSlider {
    box-sizing: border-box;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: #dde3e4;

    border: 2px solid #dde3e4;

    transition: 0.4s;

    outline: 0;
}

/* Изглед фокусираног неактивираног прекидача. */
.Toggle > .ToggleSlider:focus {
  border-color: #cad0d3;
}

.Toggle > .ToggleSlider:before {
    box-sizing: border-box;

    content: '';

    position: absolute;

    width: 16px;

    height: 20px;   

    left: 1px;

    bottom: 1px;

    background-color: white;

    transition: 0.4s;
}

.Toggle > input:checked + .ToggleSlider {
  background-color: #a06b9a;
  
  border-color: #a06b9a;
}

/* Изглед активног фокусираног прекидача. */
.Toggle > input:checked + .ToggleSlider:focus {
  border-color: #62365c;
}

.Toggle > input:checked + .ToggleSlider:before {
  transform: translateX(18px);
}