.Navigator {
  position: relative;

  display: flex;
  align-items: center;

  height: 0;

  transition: height 0.2s linear;

  overflow: hidden;

  background: var(--background-lighter-color);

  padding: 0 15px;
}

.Navigator[data-open="true"] {
  height: 40px;
}

.Navigator .HomeButton {
  margin-right: 10px;
}
