.Navigator {
  position: relative;

  display: flex;
  align-items: center;

  height: 0;

  transition: height 0.2s linear;

  overflow: hidden;

  background: var(--app-background-5-darker-color);

  padding: 0 15px;
}

.Navigator[data-open="true"] {
  height: 40px;
}

.NavigatorLinkSeparator {
  margin: 0 5px;
}

.NavigatorLink {
  display: flex;
  font-size: 1.2rem;
  cursor: pointer;
}
