:root {
  --background-base-color: #262626;
  --background-darker-color: #111111;
  --background-lighter-color: #424242;

  --border-base-color: #888888;
  --border-darker-color: #212121;
  --border-lighter-color: #777777;

  --text-base-color: #bfbfbf;
  --text-darker-color: #626262;
  --text-lighter-color: #ffffff;

  --primary-color: #6cb4e4;
  --danger-color: #ff6343;
  --success-color: #4cae4f;
}

/* RESET */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Lato, sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--background-base-color);
  color: var(--text-base-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#app-overlays-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#app-overlays-root:empty {
  display: none;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
