/* VARIABLES */
:root {
  --app-background-color: #202225;
  --app-text-color: #fff;
}

/* RESET */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
}
