/* VARIABLES */
:root {
  --app-background-color: #1b1c1f;
  --app-text-color: #fffcf2;
  --app-text-disabled-color: #ccc5b9;
  --note-default-background-color: #ffdb70;
  --note-default-text-color: #212121;
}

/* RESET */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
}
