.LabeledCheckbox {
    box-sizing: border-box;

    position: relative;

    display: flex;

    align-content: center;
}

.LabeledCheckbox > .CheckboxLabel { 
    margin-left: 10px;
}

.LabeledCheckbox > .CheckboxLabel[dir="rtl"] {
    margin-left: 0;

    margin-right: 10px;
}