.SettingSection {
  margin-bottom: 40px;
}

.SettingSection__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--app-text-base-color);
}

/* .SettingSection__title:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  background: var(--app-text-base-color);
  width: 100%;
  z-index: -1;
} */

/* .SettingSection__title span {
  background-color: var(--app-background-5-lighter-color);
  padding-right: 10px;
} */
