.BackButton {
  width: 40px;
  height: 40px;

  font-size: 1.4rem;
  line-height: 1rem;

  color: var(--text-base-color);

  border: 0;

  background-color: var(--background-lighter-color);

  cursor: pointer;

  outline: 0;
}

.BackButton:hover,
.BackButton:focus {
  color: var(--text-lighter-color);
}
