.Tab {
  position: relative;

  flex: 1;

  min-width: 40px;
  max-width: 140px;

  padding-right: 20px;

  height: 40px;

  background-color: var(--background-base-color);

  outline: 0;

  border: 0;

  text-align: center;

  color: var(--text-base-color);

  cursor: pointer;

  overflow: hidden;
}

.Tab:hover,
.Tab:focus {
  background-color: var(--background-lighter-color);
}

.Tab:hover .Button,
.Tab:focus .Button {
  background-color: var(--background-lighter-color);
}

.Tab.active {
  background-color: var(--background-darker-color);
  color: var(--text-lighter-color);

  border-bottom: 2px solid var(--primary-color);
}

.Tab span {
  display: block;

  width: 100%;

  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;
}

.Tab .Button {
  position: absolute;

  top: 9px;
  right: 5px;

  width: 20px;
  height: 20px;

  padding: 0;

  line-height: 25px;

  color: var(--text-base-color);
  background: var(--background-base-color);
}

.Tab.active .Button {
  background-color: var(--background-darker-color);
  color: var(--text-lighter-color);
}
